<!doctype html>
<!--
  _____  _          _       _ _               _______        _   
 |  __ \| |        | |     | (_)             |__   __|      | |  
 | |__) | | ___  __| | __ _| |_ _ __   __ _     | | ___  ___| |_ 
 |  ___/| |/ _ \/ _` |/ _` | | | '_ \ / _` |    | |/ _ \/ __| __|
 | |    | |  __/ (_| | (_| | | | | | | (_| |    | |  __/\__ \ |_ 
 |_|    |_|\___|\__,_|\__, |_|_|_| |_|\__, |    |_|\___||___/\__|
                       __/ |           __/ |                     
                      |___/           |___/                                           
                      
By Kevin Paul Martin
7/31/14
-->
<html lang="en" data-ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Pledgling Test</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/styles/main.css">
</head>
<body ng-controller="mainController">
	
	<section class="cell">
		<div ng-repeat="category in categories" ng-init="category.active = false" ng-click="setSelected($index, category.active)" ng-class="{'active': category.active}">
			<h3 class="category-title" ><span ng-show="category.count > 0">{{category.count}} &nbsp;</span>{{ category.name }}</h3>
			<section class="organizations">
				<div ng-repeat="organization in category.organizations" ng-init="organization.active = false" ng-click="setActive(organization.id);" ng-class="{'active': organization.active == true}">{{organization.name}}</div>
			</section>
		</div>
	</section>
	

	<!-- Scripts -->
	<script src="/scripts/vendor.js"></script>
	<script src="/scripts/app.js"></script>
</body>
</html>